.categories{
    font-size: 1.2em;
}

.categories table{
    margin-top: 0.3em;
    border: 1px #666 solid;
    border-collapse: collapse;
}

.categories td, .categories th{
    background: #c8e9eb;
    padding: 0.2em 0.4em;
    border-bottom: 1px #666 dashed;
    min-width: 4em;
}

.categories th{
    border-bottom: 2px solid #666;
}

.categories td:first-child{
    width: 10em;
}