.entry{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    height: 1.6em;
}

.textContainer{
    margin-right: 0.3em;
    padding-left: 0.2em;
}
.btnContainer{
    float: right;
}
.entry input[type=button]{
    margin-left: 0.3em;
    font-size: 1.2em;
}

@media (max-width: 760px){
    .entry{font-size: 0.9em}
    .entry input[type=button] {font-size: 0.9em}
    .textContainer{
        width:20em;
        display:inline-block;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media (max-width: 600px) {
    .textContainer{
        width:12em;
    }
}