.home{}
.home input{
    font-size: 1.2em;
    margin-left: 0;
    margin-right: 0.3em;
    margin-top: 0.3em;
}

.home input[type=button]{
    margin-left: 0;
}


@media (max-width: 600px){
    .dateSelect input[type=text]{
        width: 10em;
    }
}

.home button{
    margin-right: 0.3em;
    background: white;
    font-size: 1.2em;
}