.header{
    padding: 0.5em;
    background: #68abad;
}
.header ul {
    margin: 0;
    border: 0;
    padding: 0;
}
.header li {
    list-style: none;
}
@media (min-width: 400px) {
    .header li{
        display: inline-block;
    }
}
.header li a{
    margin-left: 1em;
    color: #CCCCCC;
    text-decoration: none;
    font-size: 1.5em;
}

.header li a:hover{
    text-decoration: underline;
}
.header li a:active{
    color: #000066;
}